= form_with model: Tweet.new, url: tweets_path, method: :post, class: "w-100" do |f|
  = f.text_area :body, placeholder: "What's happening?", class: "w-100 form-control tweet-input mb-4"
  %div.d-flex.justify-content-end
    = f.submit "Tweet", class: "btn btn-twitter rounded-pill"