.tweet {
  &:hover {
    background-color: $gray-100;
    cursor: pointer;
  } 

  .action-links {
    a {
      span {
        position: relative;
        top: 2px;
      }

      &.views, &.replies, &.bokmarks {
        &:hover {
          color: $twitter-blue !important;
        }
      }

      &.retweets {
        &:hover {
          color: $green-300 !important;
        }
      }

      &.likes {
        &:hover {
          color: $red-300 !important;
        }
      }
    }
  }
}

